<h1>粉丝</h1>

<ul>
<% @followers.each do |follower| %>
    <%# unless follower.nil? %>
        <li><%= link_to follower.username, profile_path(follower.username) %></li>
    <%# end %>
<% end %>
</ul>
