<h1>My requests</h1>
<table class="table">
    <thead>
        <tr>
            <th>Libro</th>
            <th>Usuario</th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <tbody>
        <% @requests.each do |request| %>
            <tr>
                <td><%= link_to request.book.title, request.book %></td>
                <td><%= request.user.username %></td>
                <td><%= link_to 'Aceptar', request, method: :delete, data: { confirm: 'Are you sure?' } if request.book.availability? %></td>
            </tr>
        <% end %>
    </tbody>
</table>