<div class="container-80">
  <div class="card">
    <div class="content">
      <h1>New Book</h1>

      <%= render 'form', book: @book %>
      <br>
      <%= link_to 'Back', books_path %>
    </div>
  </div>
</div>