<div class="container-90">
  <h2>Resultados</h2>
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-xs-4 col-md-2" style="padding: 0 !important;">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to book_path(book) do %>
              <%= image_tag(book.cover.url(:thumb), class: 'img-responsive') %>
            <% end %>
          </div>
          <div class="panel-footer text-center">
            <div class="panel-footer-text">
              <%= book.title %>
            </div>
            <%#= book.author %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>